.#{$ns}events {

    @include border-radius(5px);
    @include box-shadow(0 0 3px color(default));
    background-color: color(white);
    margin-bottom: 34px;

    &__main {
        padding: 29px 27px 10px 27px;
    }

    &__daily {
        margin-bottom: 6.5px;
    }

    &__item {
        display: flex;
        padding-bottom: 11.6px;

        &--option {
            padding-top: 17px;
        }        

        &-time {
            color: white;
            background: #4366a6;
            min-width: 19%;
            height: 20%;
            border-radius: 50%;
            text-align: center;
            padding: 16px 0 17px 0;
            margin-right: 12px;
            font-family: SourceSansPro;
            font-size: 16px;
        }

        &-description {
            margin-top: 6px;
        }
    }
}

@include media-query(xl, lg){
    .#{$ns}events {
        margin-bottom: 30px;
        
        &__main {
            padding: 25px 17px 10px 24px;            
        }

        &__item {
            padding-bottom: 8.6px;

            &--option{
                padding-top: 16px;
            }

            &-time {
                padding: 16px 0 11px 0;
                margin-right: 10px;
                font-size: 15px;
            }

            &-description {
                margin-top: 3px;
            }
        }
    }    
}

@include media-query(lg, md){
    .#{$ns}events {
        margin-bottom: 24px;
        
        &__main {
            padding: 25px 26px 11px 26px;            
        }

        &__item {
            padding-bottom: 7px;

            &--option {
                padding-top: 17px;
            }

            &-time {
                min-width: 18%;
                padding: 13px 3px 15px 0;
                font-size: 15px;
                margin-right: 10px;
            }

            &-description {
                margin-top: 4px;
            }
        }
    }
}

@include media-query(md, sm){
    .#{$ns}events{
        margin-bottom: 16px;

        &__main {
            padding: 26px 17px 9px 23px;           
        }

        &__daily {
            margin-bottom: 7px;
        }

        &__item {
            padding-bottom: 8px;

            &--option {
                padding-top: 17px;
            }

            &-time {
                min-width: 20%;
                padding: 15px 0; 
                font-size: 15px;
                margin-right: 9px;
            }

            &-description {
                margin-top: 6px;
            }
        }
    }
}