.#{$ns}contacts {
    @include border-radius(5px);
    @include box-shadow(0 0 3px color(default));
    background-color: color(white);    

    &__main {
        @include border-radius(5px, bottom);
        background-color: color(white);
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 452px;
    }

    &__list {
        padding: 0 23px 16px 28px;

        &-item {
            border-bottom: 1px solid color(borderLine);
            padding-bottom: 18px;
            padding-top: 15.4px;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &__people {
        display: flex;

        &-profile {
            display: flex;

            &-name {
                padding-top: 3px;
                margin-right: 4px;
            }
        }
    }
}

@include media-query(xl, lg) {
    .#{$ns}contacts {

        &__main {
            max-height: 406px;
        }
        &__list {
            padding: 4px 14px 16px 25px;
            
            &-item {
                padding-bottom: 14px;
                padding-top: 11.4px;
            }
        }
    }
}

@include media-query(lg, md) {
    .#{$ns}contacts {

        &__main {
            max-height: 405px;
        }

        &__list {
            padding: 2px 17px 16px 24px;
            
            &-item {
                padding-bottom: 15px;
                padding-top: 11.4px;
            }
        }

        &__people {    
            &-profile {    
                &-name {
                    margin-right: 22px;
                }
            }
        }
    }
}