// SANDRA

.#{$ns}nav {
    display: flex;
    background-color: color(blueList);
    justify-content: space-between;    

    &--projects {

        padding: 13px 0 9px 34px;

        &-item {
            color: color(carHeader);
            font-size: 18.3px;
            padding-right: 70px;

            &:nth-child(2n) {
                padding-right: 61px;
            }

            position: relative;

            &--selected {
                font-weight: 600;
                padding-top: 2px;

                &:after{
                    position: absolute;
                    content: '';
                    border-bottom: 3px solid color(carHeader);
                    top: 35px;
                    width: 131px;
                    left: -34px;
                }
                
            }
        }
    }

    &--contacts {
        padding: 12px 0 10px 17.7px;

        &-item {
            color:color(carHeader);
            padding-right: 30px;
            font-size: 18.3px;

            &:nth-child(2n) {
                padding-right: 28px;
            }

            &:last-child {
                padding-right: 0;
            }

            &--selected {
                font-weight: 600;
            }
        }        
    }
}

@include media-query(xl, lg){
    .#{$ns}nav {
        &--projects {
            padding: 9px 0 7px 31px;

            &-item {
                font-size: 16.3px;
                padding-right: 63px;

                &:nth-child(2n) {
                    padding-right: 56px;
                }

                &--selected {    
                    &:after{
                        top: 32px;
                        width: 118px;
                        left: -30px;
                    }
                    
                }
            }
        }

        &--contacts {
            padding: 9px 12px 8px 15px;

            &-item {
                font-size: 16.9px;
                padding-right: 25px;

                &:nth-child(2n) {
                    padding-right: 22px;
                }
            }
        }
    }
}

@include media-query(lg, md){
    .#{$ns}nav {
        &--projects {
            padding: 11px 0 9px 15px;

            &-item {
                font-size: 16.3px;
                padding-right: 24px;

                &:nth-child(2n) {
                    padding-right: 9px;
                }

                &--selected {  
                    padding-top: 0;  
                    &:after{
                        top: 28px;
                        width: 90px;
                        left: -15px;
                    }
                }
            }
        }

        &--contacts {
            padding: 11px 12px 10px 20px;

            &-item {
                font-size: 15.9px;
                padding-right: 34px;

                position: relative;

                &:nth-child(2n) {
                    padding-right: 33px;
                }

                &--selected {  
                    padding-top: 0;  
                    &:after{
                        position: absolute;
                        content: '';
                        border-bottom: 2px solid color(carHeader);
                        top: 29px;
                        width: 104px;
                        left: -20px;
                    }
                }
            }
        }
    }
}

@include media-query(md, sm){
    .#{$ns}nav{
        &--projects {
            padding: 10px 0 9px 10px;

            &-item {
                font-size: 16.4px;
                padding-right: 21px;

                &:nth-child(2n) {
                    padding-right: 9px;
                }

                &--selected {  
                    padding-top: 0;  
                    &:after{
                        border-bottom: 2px solid color(carHeader);
                        top: 28px;
                        width: 81px;
                        left: -11px;
                    }
                }
            }
        }
    }
}