.#{$ns}nav-header {
    display: flex;

    &__list{        
        margin-top: 2px;
        margin-left: 19px;

        &-item {
            text-align: center;
            padding-right: 38px;
        } 
    }
}

@include media-query(xl, lg){
    .#{$ns}nav-header {
        &__list {
            margin-left: 3px;
        }
    }
}

@include media-query(lg, md){
    .#{$ns}nav-header {
        &__list {
            margin-top: 0;
            margin-left: 12px;
        }
    }
}

@include media-query(md, sm){
    .#{$ns}nav-header {
        display: none;
    }
}

@include media-query(sm, xs){
    .#{$ns}nav-header {
        display: none;
    }
}