.#{$ns}profile {
    display: flex;
    width: 11.3%;

    &__notification{
        font-size: 28px;
        margin: 11px 23px 0 18px;
    }

    &__photo {
        padding-top: 4px;
    }
}

@include media-query(xl, lg){
    .#{$ns}profile {

        &__notification {
            margin: 4px 22px 0 14px;
        }
    }
}

@include media-query(lg, md){
    .#{$ns}profile {

        &__notification {
            font-size: 26px;
            margin: 6px 25px 0 8px;
        }

        &__photo {
            padding-top: 2px;
        }
    }
}

@include media-query(md, sm){
    .#{$ns}profile {
        width: 21%;

        &__notification {
            margin: 4px 25px 0px 19px;
        }

        &__photo {
            padding-top: 2px;
        }
    }
}

@include media-query(sm, xs){
    .#{$ns}profile {
        width: 51.3%;

        &__notification {
            margin: 6px 14px 0 4px;
        }

        &__photo {
            padding-top: 2px;
        }
    }
}