.#{$ns}notifications {
    @include border-radius(5px);
    @include box-shadow(0 0 3px color(default));
    background-color: color(white);

    &__main {

        &-desktop {
           padding: 0 27px; 
        }

        &-tablet {
            display: none;
        }
        
    }

    &__list {
        &-item {
            border-bottom: 1px solid color(borderlineNotification);
            padding-bottom: 13px;
            padding-top: 19px;
        }
    }
}

@include media-query(xl, lg){
    .#{$ns}notifications {
        &__main {
            &-desktop {
                padding: 0 25px; 
            }
        }

        &__list {
            &-item {
                padding-top: 14px;
                padding-bottom: 11px;
            }
        }
    }
}

@include media-query(lg, md){
    .#{$ns}notifications {
        &__main {
            &-desktop{
                padding: 1px 25px 0 25px;
            }            
        }

        &__list {
            &-item {
                padding-bottom: 11px;
                padding-top: 17px;
            }
        }
    }
}

@include media-query(md, sm){
    .#{$ns}notifications {
        &__main {
            &-tablet{
                display: block;
                padding: 0 20px 0 23px; 
            }

            &-desktop{
                display: none;
            }
            
        }

        &__list {
            &-item {
                padding-bottom: 9px;
                padding-top: 17px;
            }
        }
    }
}