// SANDRA 

.#{$ns}main-container {
    display: flex;
    margin: 62px 26px 0 27px;
}

@include media-query(xl, lg) {
    .#{$ns}main-container {
        margin: 55px 24px 0 24px;
    }
}

@include media-query(lg, md) {
    .#{$ns}main-container {
        margin: 48px 25px 0 24px;
    }
}

@include media-query(md, sm) {
    .#{$ns}main-container {
        margin: 33px 17px 0 16px;
        flex-wrap: wrap;
    }
}