// SANDRA

.#{$ns}aside-left {
    width: 23.5%;
    margin-right: 27px;
}

@include media-query(xl, lg) {
    .#{$ns}aside-left {
        width: 24.6%;
        margin-right: 22px;
    }
}

@include media-query(lg, md) {
    .#{$ns}aside-left {
        width: 31.7%;
        margin-right: 24px;
    }
}

@include media-query(md, sm) {
    .#{$ns}aside-left {
        width: 48.5%;
        margin-right: 17px;
    }
}