// SANDRA

.#{$ns}aside-right {
    width: 23.6%;
}

@include media-query(lg, md) {
    .#{$ns}aside-right {
        width: 31.6%;
    }
}

@include media-query(md, sm){
    .#{$ns}aside-right {
        width: 48.5%;
    }
}