// SANDRA

.#{$ns}header {
    display: flex;
    justify-content: space-between;
    height: 82px;
    background-image: linear-gradient(to right, color(gradientLeft), color(gradientRight));
    padding: 18px 20px;

    &__menu-collapse{
        display:none;
    }

    &__logo {
        padding-top: 16px;
        padding-left: 36.8px;
    }

    &__logo-movil {
        display: none;
    }

    &__search {
        margin-left: 15px;
        width: 41.2%;

        &-input {
            width: 100%;
            padding: 12px 0 11px 12.5px;
            @include border-radius(6px);
            border-color: transparent;
            font-size: 17px;
            letter-spacing: 0.4px;

            position: relative;
        }
    }    
}

@include media-query(xl, lg){
    .#{$ns}header {
        padding: 17px 20px;
        height: 75px;

        &__logo {
            padding-top: 13px;
            padding-left: 30.8px;
        }

        &__search {
            width: 42.2%;
            margin-left: 31px;
            margin-right: 23px;

            &-input {
                padding: 10px 0 11px 9.5px;
                font-size: 15.2px;
                @include border-radius(4px);
            }
        }
    }
}

@include media-query(lg, md){
    .#{$ns}header {
        padding: 17px 15px;
        height: 74px;

        &__logo {
            padding-top: 12px;
            padding-left: 4.8px;
        }

        &__search {
            margin-left: 13px;
            width: 31.7%;

            &-input {
                padding: 8px 0 11px 10px;
                font-size: 15.2px;
                @include border-radius(3px);
            }
        }
    }
}

@include media-query(md, sm){
    .#{$ns}header {
        padding: 17px 21px;
        height: 74px;
        justify-content: flex-start;

        &__menu-collapse{
            display: block;
        }

        &__logo {
            padding-top: 14px;
            padding-left: 21.8px;
        }

        &__search {
            margin-left: 20px;
            width: 51.8%;
            
            &-input {
                padding: 10px 0 10px 10.5px;
                font-size: 15px;
            }
        }
    }
}

@include media-query(sm, xs){
    .#{$ns}header {
        padding: 8px 16px;
        height: 60px;
        justify-content: flex-start;

        &__menu-collapse{
            display: block;
        }

        &__logo {
            display: none;
        }

        &__logo-movil {
            display: block;
        }

        &__search {
            width: 40.2%;
            margin-left: 0;

            &-input {
                display: none;
            }
        }
    }
}