.#{$ns}mails {

    @include border-radius(5px);
    @include box-shadow(0 0 3px color(default));
    background-color: color(white);
    margin-bottom: 26px;

    &__main {
        &-versionDesktop1440 {
            padding: 0 28px;
        }  

        &-versionDesktop1024 {            
            display: none;
        }
    }

    &__list {
        margin-top: 20px;

        &-item {
            margin-bottom: 1px;
            border-bottom: 1px solid color(borderLine);

            &:last-child {
                padding-top: 19px;
                border-bottom: 0;
            }
        }
    }

    &__detail {
        margin-top: 10px;
    }

    &__profile {
        display: flex;
        margin-top: 13px;
    }
}

@include media-query(xl, lg) {
    .#{$ns}mails {
        margin-bottom: 28px;
        
        &__main {
            &-versionDesktop1440{
                padding: 0 26px;
            }
        }

        &__list {
            margin-top: 18px;

            &-item {
                &:last-child {
                    padding-top: 17px;
                    padding-bottom: 1px;
                }
            }
        }

        &__profile {
            margin-top: 9.5px;
        }

        &__detail {
            margin-top: 8px;
        }
    }
}

@include media-query(lg, md){
    .#{$ns}mails {
        margin-bottom: 24px;

        &__main {
            &-versionDesktop1440{
                display: none;
            }

            &-versionDesktop1024 {
                padding: 0 25px;
                display: block;
            }
        }

        &__list {
            margin-top: 18px;

            &-item {
                &:nth-child(2n) {
                    margin-top: 17px;
                }

                &:last-child {
                    padding-top: 15px;
                    padding-bottom: 3px;
                }
            }            
        }

        &__profile {
            margin-top: 9px;
        }

        &__detail {
            margin-top: 8px;
        }
    }
}

@include media-query(md, sm){
    .#{$ns}mails {
        margin-bottom: 12px;

        &__main {
            &-versionDesktop1440{
                display: none;
            }

            &-versionDesktop1024 {
                padding: 0 25px;
                display: block;
            }
        }

        &__list {
            margin-top: 18px;

            &-item {
                &:nth-child(2n) {
                    margin-top: 15px;
                }

                &:last-child {
                    padding-top: 13px;
                    padding-bottom: 0;
                }
            }            
        }

        &__profile {
            margin-top: 8px;
        }

        &__detail {
            margin-top: 8px;
        }
    }
}