// SANDRA

.#{$ns}main {
    width: 49%;
    margin-right: 26px;
}

@include media-query(xl, lg) {
    .#{$ns}main {
        width: 51.1%;
        margin-right: 23px;
    }
}

@include media-query(lg, md) {
    .#{$ns}main {
        width: 31.7%;
        margin-right: 24px;
    }
}

@include media-query(md, sm) {
    .#{$ns}main {
        width: 48.4%;
        margin-right: 0;
    }
}