.#{$ns}projects {
    @include border-radius(5px);
    @include box-shadow(0 0 3px color(default));
    background-color: color(white);

    &__main {
        padding: 4px 27px 0 27px;
    }

    &__details {
        padding-bottom: 20px;
        padding-top: 16px;
        margin-bottom: 6px;
        border-bottom: 1px solid color(borderLine);

        &:last-child {
            border-bottom: 0;
        }
    }

    &__options {
        display: flex;
        margin-top: 10px;

        &--active {
            background-color: color(optionsProyect);
            font-weight: 600;
            padding: 4.5px 11.2px;
            @include border-radius(11px);
            font-size: 14px;
            margin-right: 11px;
        }

        &--add {
            background-color: color(white);
            border: 2px solid color(optionsProyect);
            @include border-radius(11px);
            padding: 3px 9px;
            font-size: 12px;
            margin-left: 1px;
            font-weight: 600;
            width: 6%;
        }
    }
}

@include media-query(xl, lg) {
    .#{$ns}projects {
        &__main {
            padding: 6px 27px 0 26px;
        }

        &__details {
            padding-top: 15px;
            padding-bottom: 18px;
            margin-bottom: 5px;
        }

        &__options {
            margin-top: 6px;

            &--active {
                font-size: 12.2px;
                margin-right: 9px;
                padding: 4.5px 10.9px;
            }

            &--add {
                width: 6.5%;
            }
        }
    }
}

@include media-query(lg, md){
    .#{$ns}projects {
        &__main {
            padding: 4px 25px 0 25px;
        }

        &__details {
            padding-top: 15px;
            padding-bottom: 18px;
            margin-bottom: 4px;
        }

        &__options {
            margin-top: 7px;

            &--active {
                font-size: 12.2px;
                margin-right: 9px;
                padding: 5.5px 10.9px;
            }

            &--add {
                width: 14%;
                padding: 4px 9px;
            }
        }
    }
}