.#{$ns}form {
    display: flex;
    justify-content: space-between;
    position: relative;

    &--label {
        font-size: 18px;
        letter-spacing: 0.2px;
        font-weight: 600;
        width: 70%;
        line-height: 20px;
    }

    &--input[type=checkbox] {
        cursor: pointer;
        position: absolute;
        right: 3px;
        opacity: 0;
    }

    &--checkStyle {
        border: 2px solid color(checkbox);
        position: absolute;
        top: -1px;
        right: 0px;
        height: 20px;
        width: 21px;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}

@include media-query(xl, lg) {
    .#{$ns}form {
        &--label {
            font-size: 16px;
            line-height: 18px;
        }
    }
}

@include media-query(lg, md) {
    .#{$ns}form {
        &--label {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.8px;
            width: 81%;
        }

        &--checkStyle {
            height: 18px;
            width: 18px;
        }
    }
}

@include media-query(md, sm) {
    .#{$ns}form {
        &--label {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.7px;
            width: 81%;
        }

        &--checkStyle {
            height: 18px;
            width: 18px;
        }
    }
}