// SANDRA

.#{$ns}car-header{
    background-color: color(carHeader);
    @include border-radius(5px, top);
    display: flex;
    justify-content: space-between;
    //padding: 21px 26px;
    padding: 22px 26px 21px 26px;

    &__title {
        display: flex;
        padding: 2px 0 0 2px;
    }
}

@include media-query(xl, lg) {
    .#{$ns}car-header {
        padding: 19px 24px 18px 23px;

        &__title {
            padding: 1px 0 0 2px;
        }
    }
}

@include media-query(lg, md) {
    .#{$ns}car-header {
        padding: 18px 25px 17px 23px;
    }
}

@include media-query(md, sm) {
    .#{$ns}car-header {
        padding: 18px 22px 19px 23px;
    }
}