.#{$ns}txt {
    font-size: 15px;
    color: color(black);
    line-height: 16px;

    &--white {
        color: color(white);
    }

    &--fs-m {
        font-size: 19.2px;
    }

    &--strong {
        font-size: 19.4px;
    }

    &--notification {
        font-size: 14px;
        background-color: color(notificationBackground);
        width: 1.1%;
        text-align: center;
        @include border-radius(43%);
        position: absolute;
        right: 133px;
        top: 29px;
        color: color(white);
    }

    &--car-header {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 500;
    }

    &--car-footer {
        font-size: 15px;
        letter-spacing: 0.4px;
        color: color(carHeader);
    }

    &--daily {
        color: color(carHeader);
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    // ENLACES

    &--a {
        font-weight: 600;
        text-decoration: underline;
        color: color(colorTitle);
        letter-spacing: -0.3px;
    }

    &--a-daily {
        font-size: 18.8px;
        line-height: 22px;
        margin-right: 21px;
    }

    &--a-project {
        font-size: 19.3px;
        line-height: 27px;
    }

    &--a-contact {
        font-size: 18.6px;
        padding-top: 3px;
        line-height: 22px;
        letter-spacing: -0.1px;
    }

    // PARRAFOS

    &--p-daily {
        font-family: SourceSansPro;
        font-size: 15px;
        letter-spacing: 0.2px;
        padding-top: 1px;
        color: color(pColor);
    }

    &--p-notification {
        font-size: 15.7px;
        line-height: 26px;
    }

    &--p-project {
        font-size: 15.7px;
        line-height: 25px;
    }

    &--p-contact {
        font-size: 18px;
        padding-top: 2px;
        color: color(pColor);
    }

    &--deadline {
        font-size: 13.4px;
        letter-spacing: 0.1px;
        line-height: 26px;
        font-family: SourceSansPro;
    }

    &--mail {
        &-date {
            color: color(pColor);
            font-family: SourceSansPro;
            font-size: 15.6px;
        }

        &-name {
            font-size: 15.56px;
            padding-left: 6px;
            padding-top: 3px;
        }

        &-title {
            color: color(colorTitle);
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.2px;
            text-decoration: underline;
        }

        &-body {
            font-size: 15.6px;
            margin-top: 6px;
            line-height: 20px;
            padding-bottom: 15px;
        }
    }
}

@include media-query(xl, lg) {
    .#{$ns}txt {
        font-size: 14px;

        &--notification {
            right: 119px;
            top: 25px;
        }

        &--fs-m {
            font-size: 17.2px;
        }
    
        &--strong {
            font-size: 17.4px;
        }

        &--car-header {
            font-size: 16px;
        }

        &--daily {
            font-size: 14px;
        }

        &--a-daily {
            font-size: 16.5px;
            line-height: 21px;
        }

        &--p-daily {
            padding-top: 0;
            font-size: 13px;
        }

        &--p-notification {
            line-height: 24px;
        }

        &--deadline {
            font-size: 12px;
        }

        &--mail {
            &-name {
                padding-top: 2px;
            }

            &-title {
                font-size: 16px;
            }

            &-body {
                font-size: 13.96px;
                margin-top: 4px;
                line-height: 18.9px;
                padding-bottom: 13px;
            }
        }

        &--a-project {
            font-size: 17.1px;
            line-height: 23px;
        }
        
        &--a-contact {
            font-size: 16.6px;
        }

        &--p-contact {
            font-size: 16px;
            padding-top: 0px;
        }
    }
}

@include media-query(lg, md) {
    .#{$ns}txt {
        font-size: 14px;

        &--fs-m {
            font-size: 18.3px;
        }

        &--strong {
            font-size: 17.9px;
            letter-spacing: 0.5px;
        }

        &--notification {
            width: 1.5%;
            right: 92px;
            top: 24px;
        }

        &--car-header {
            font-size: 16px;
        }

        &--a-daily {
            font-size: 16.5px;
            line-height: 20px;
            letter-spacing: 0.0px;
        }

        &--p-daily {
            font-size: 13.1px;
        }

        &--p-notification {
            line-height: 21px;
        }

        &--deadline {
            font-size: 12px;
        }

        &--mail {
            &-date{
                font-size: 13.4px;
                letter-spacing: 0.3px;
            }

            &-title {
                font-size: 16px;
            }

            &-body {
                margin-top: 4px;
                line-height: 19px;
                padding-bottom: 11.5px;
            }
        }

        &--a-project {
            font-size: 17.3px;
            line-height: 24px;
        }

        &--p-project {
            line-height: 22px;
        }
        
        &--a-contact {
            font-size: 16.6px;
        }

        &--p-contact {
            font-size: 16px;
            padding-top: 0px;
        }
    }
}

@include media-query(md, sm) {
    .#{$ns}txt {
        font-size: 14px;

        &--fs-m {
            font-size: 18px;
        }

        &--strong {
            font-size: 18.4px;
            letter-spacing: 0.5px;
        }

        &--notification {
            width: 2.3%;
            right: 88px;
            top: 25px;
            font-size: 12px;
        }

        &--car-header {
            font-size: 16px;
        }

        &--car-footer {
            font-size: 13px;
        }

        &--a-daily {
            font-size: 16.5px;
            line-height: 20px;
            letter-spacing: 0.0px;
        }

        &--p-daily {
            padding-top: 0;
            font-size: 13.1px;
        }

        &--p-notification {
            line-height: 23px;
        }

        &--deadline {
            font-size: 12px;
        }

        &--mail {
            &-date{
                font-size: 13.4px;
                letter-spacing: 0.3px;
            }

            &-title {
                font-size: 16px;
            }

            &-body {
                margin-top: -14px;
                line-height: 18px;
                padding-bottom: 0;
            }
        }

        &--a-project {
            font-size: 17.1px;
        }
    }
}

@include media-query(sm, xs) {
    .#{$ns}txt {
        &--notification {
            font-size: 11px;
            width: 4%;
            border-radius: 50%;
            right: 83px;
            top: 18px;
        }
    }
}