////
/// IMG element
///
/// This is the imgs' style sheet
////
.#{$ns}img {
	max-width 		: 100%;
	font-style 		: italic;

	&[width], &[height] {
		width: auto;
		height: auto;
	}
	figure & {
		width: 100%;
	}

	// SANDRA
	@include border-radius(50%);

	&--profile{		
    	width: 44%;
    	border: 2px solid color(white);
	}

	&--mail-photo {
		width: 3.5%;
	}

	&--contact-photo {
		width: 17.5%;		
		height: 44px;
		margin-right: 11px;
	}

	// */SANDRA
}

@include media-query(xl, lg) {
	.#{$ns}img {
		&--contact-photo {
			height: 43px;
			padding-top: 3px;		
		}
	}
}

@include media-query(lg, md){ 
	.#{$ns}img {
		&--profile{		
			width: 65%;
		}

		&--mail-photo {
			width: 7.5%;
    		padding-top: 2px;
		}

		&--contact-photo {
			width: 17%;	
			height: 42px;
			padding-top: 3px;
			margin-right: 9px;
		}
	
	}
}

@include media-query(md, sm){ 
	.#{$ns}img {
		&--profile{		
			width: 81%;
		}

		&--mail-photo {
			width: 8.8%;
    		padding-top: 1px;
		}
	}
}

@include media-query(sm, xs){ 
	.#{$ns}img {
		&--logoMobile {
			width: 46%;
    		margin-left: 13px;
		}

		&--profile{		
			width: 72%;
		}
	}
}