//SANDRA
.#{$ns}car-footer {
    border-top: 1px solid color(borderLine);
    text-align: center;
    font-weight: 600;
    padding: 17.7px 0 15px 0;
    @include border-radius(5px, bottom); 
    background-color: color(white);
    cursor: pointer;
}

@include media-query(xl, lg){
    .#{$ns}car-footer {
        padding: 13px 0 13px 0;
    }
}

@include media-query(lg, md){
    .#{$ns}car-footer {
        padding: 13.7px 0 13px 0;
    }
}

@include media-query(md, sm){
    .#{$ns}car-footer {
        padding: 14px 0 14px 4px;
    }
}