////
/// BODY element
///
/// Here we got the body styles
////
/*body {
	position            		:	relative;
	font-family         		:	$ns-font-default;
	color               		:	color(ns-tertiary);
	background-color    		:	color(white);
	-webkit-text-size-adjust	:	100%;
}*/

// SANDRA

body {
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: color(backgroundMain);
}

// */SANDRA