// SANDRA

.#{$ns}icons {
    font-size: 20px;
    color: color(white);

    &--menu-collapse {
        font-size: 30px;
        margin-top: 10px;
    }

    &--menu {
        font-size: 25px;
        padding-bottom: 4px;
    }

    &--bell {
        font-size: 25px;
    }

    &--arrow {
        position: absolute;
        top: 32px;
        padding-left: 3px;
        font-size: 21px;
    }

    &--car-header {
        font-size: 15px;
        padding-right: 18px;
    }

    &--dots {
        font-size: 13px;
        padding-top: 2px;
        cursor: pointer;
    }

    &--deadline {
        color: color(deadlineIcon);
        font-size: 14px;
        padding-right: 1.1px;
    }

    &--arrow-more {
        color: color(colorTitle);
        padding-top: 4px;
        cursor: pointer;
    }

    &--search {
        position: absolute;
        top: 32px;
        right: 46.9%;
        font-size: 18px;
        color: color(searchIcon);
    }
}


@include media-query(xl, lg) {
    .#{$ns}icons {
        &--search {
            top: 28px;
        }

        &--menu {
            font-size: 21px;
        }

        &--bell {
            font-size: 22px;
        }

        &--arrow {
            top: 29px;
        }
        
        &--car-header {
            padding-right: 16px;
            padding-top: 2px;
        }

        &--dots {
            font-size: 12px;
        }

        &--deadline {
            font-size: 12px;
        }

        &--arrow-more {
            padding-top: 6px;
            padding-right: 3px;
        }
    }
}

@include media-query(lg, md) {
    .#{$ns}icons {
        &--search {
            top: 29px;
            right: 55.9%;
            font-size: 17px;
        }

        &--menu {
            font-size: 23px;
            padding-bottom: 2px;
        }

        &--bell {
            font-size: 24px;
        }

        &--arrow {
            top: 28px;
            padding-left: 4px;
            font-size: 20px;        
        }

        &--car-header {
            font-size: 14px;
            padding-right: 16px;
            padding-top: 4px;
        }

        &--dots {
            font-size: 11px;
            padding-top: 3px;
        }

        &--deadline {
            padding-right: 1px;
        }
    }
}

@include media-query(md, sm) {
    .#{$ns}icons {
        &--menu-collapse {
            font-size: 22px;
            margin-top: 10px;
        }

        &--search {
            top: 29px;
            right: 24.9%;
            font-size: 17.5px;
        }

        &--bell {
            font-size: 22px;
        }

        &--arrow {
            top: 29px;
            font-size: 19px;        
        }

        &--car-header {
            font-size: 13px;
            padding-right: 16px;
            padding-top: 3px;
        }

        &--dots {
            font-size: 11px;
            padding-top: 3px;
        }

        &--deadline {
            font-size: 12px;
            padding-right: 1px;
        }

        &--danger {
            font-size: 12px;
            padding-right: 0px;
            color: color(danger);
        }

    }
}

@include media-query(sm, xs) {
    .#{$ns}icons {
        &--menu-collapse {
            font-size: 25px;
        }

        &--search {
            top: 21px;
            right: 37.9%;
            font-size: 19px;
        }

        &--bell {
            font-size: 23px;
        }

        &--arrow {
            top: 20px;
            font-size: 19px;
        }

    }
}